NEXT_PUBLIC_SUPABASE_URL=https://rbweffgofrsaarnajbtk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJid2VmZmdvZnJzYWFybmFqYnRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4Mzk4MzAsImV4cCI6MjA4OTQxNTgzMH0.qu-qo_k2psiDj1KPfUpObctHHslNSmXMyIjb5E0JobM